fastapi
uvicorn[standard]
pydantic>=2,<3
python-dotenv
starlette
diskcache
faiss-cpu

langchain==0.3.0
langchain-core==0.3.68
langchain-community==0.3.0
langchain-groq==0.3.4
langchain-cohere==0.3.0
cohere==4.14.0
